<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gerenciador de tarefas</title>
</head>
<body>
    
    <h1>Gerenciador de tarefas</h1>

<div class="card bg-base-100 w-96 shadow-sm">
    <figure>
        <img
        src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
        alt="Shoes" />
    </figure>
    <div class="card-body">
        <h2 class="card-title">
        Vejas suas tarefas</h2>
        <p>Veja as usas tarefas do dia</p>
            <div class="card-actions justify-end">
            <button class="btn">Configurar</button>
            <button class="btn">Listar tarefas</button>
        </div>
    </div>
</div>

</body>
</html>